@model Abonne

@{
    ViewData["Title"] = "Edit";
}
<<<<<<< HEAD
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Dashboard";
}
=======
>>>>>>> 92c770d0feb2ddd9c80b368bff42843f30b8fc04

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        h1 {
            color: #007bff;
            margin-bottom: 20px;
            font-size: 24px;
        }

        h4 {
            color: #28a745;
            font-size: 20px;
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            color: #007bff;
            font-weight: bold;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }

        a {
            color: #007bff;
            display: inline-block;
            margin-top: 20px;
            margin-right: 10px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
<<<<<<< HEAD
    

        <div>
            <h4>Modifier les Informations de l'abonné</h4>
=======
        <h1>Edit Abonne</h1>

        <div>
            <h4>Abonne Details</h4>
>>>>>>> 92c770d0feb2ddd9c80b368bff42843f30b8fc04
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Nom" class="control-label"></label>
                            <input asp-for="Nom" class="form-control" />
                            <span asp-validation-for="Nom" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Prenom" class="control-label"></label>
                            <input asp-for="Prenom" class="form-control" />
                            <span asp-validation-for="Prenom" class="text-danger"></span>
                        </div>
<<<<<<< HEAD

                         <div class="form-group">
    <label asp-for="Username" class="control-label"></label>
    <input asp-for="Username" class="form-control" />
    <span asp-validation-for="Username" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Password" class="control-label"></label>
    <input asp-for="Password" type="password" class="form-control" />
    <span asp-validation-for="Password" class="text-danger"></span>
</div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                       

                        <div>
            <a asp-action="Index">Back to List</a>
        </div>
=======
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
>>>>>>> 92c770d0feb2ddd9c80b368bff42843f30b8fc04
                    </form>
                </div>
            </div>
        </div>
<<<<<<< HEAD
       
=======
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
>>>>>>> 92c770d0feb2ddd9c80b368bff42843f30b8fc04
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
