@model Livre

@{
    ViewData["Title"] = "Create";
}

<style>
    /* Style pour les boutons */
    .btn {
        background-color: #4CAF50; /* Couleur de fond */
        border: none;
        color: white;
        padding: 10px 20px; /* Espacement intérieur */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

    /* Style pour les labels */
    .control-label {
        font-weight: bold;
        color: #333; /* Couleur du texte */
        margin-bottom: 5px; /* Espacement bas */
    }

    /* Style pour les champs de formulaire */
    .form-control {
        width: 100%;
        padding: 8px;
        margin: 6px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
</style>

<h1>Create Livre</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auteur" class="control-label"></label>
                <input asp-for="Auteur" class="form-control" />
                <span asp-validation-for="Auteur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resume" class="control-label"></label>
                <input asp-for="Resume" class="form-control" />
                <span asp-validation-for="Resume" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn">Back to List</a>
</div>
