@model Livre

@{
    ViewData["Title"] = "Edit";
}

<style>
    .btn {
        background-color: #4CAF50; /* Couleur de fond */
        border: none;
        color: white;
        padding: 10px 20px; /* Espacement intérieur */
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }

    /* Style pour le titre */
    h1 {
        color: #333;
        font-size: 24px;
        margin-bottom: 20px;
    }

    /* Style pour les labels */
    .control-label {
        font-weight: bold;
        color: #555;
        margin-bottom: 5px;
    }

    /* Style pour les champs de saisie */
    .form-control {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    /* Style pour les messages d'erreur */
    .text-danger {
        color: red;
        font-size: 12px;
    }

    /* Style pour le bouton Save */
    .btn-primary {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        text-decoration: none;
    }
  
   
</style>

<h1>Edit Livre</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auteur" class="control-label"></label>
                <input asp-for="Auteur" class="form-control" />
                <span asp-validation-for="Auteur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resume" class="control-label"></label>
                <input asp-for="Resume" class="form-control" />
                <span asp-validation-for="Resume" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EstEmprunte" /> @Html.DisplayNameFor(model => model.EstEmprunte)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-action="Index" class="btn">Retour à la liste</a>
</div>

